<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.121213499962-k5r7nvfcamgusvotj0dftdhhrp42rp68</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>121213499962-k5r7nvfcamgusvotj0dftdhhrp42rp68.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>121213499962-uqsrq78q6v1c84jff4isqcdd13s4k6o2.apps.googleusercontent.com</string>
</dict>
</plist>
